.question {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 3.5rem;
    font-size: 2.3rem;
    padding-top: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: rgb(251, 205, 50);
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-text {
    color: rgb(251, 205, 50);
    font-size: 3.5rem; /* Adjust as needed */
    margin-left: 15rem;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 2rem; /* Add this line to push the logo to the left */
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    line-height: 2.5rem;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
  }
  .opt{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: left;
    color: #333;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: left;
    color: #333;
    line-height: 1.8rem;
  }
  
  input[type="radio"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #cacaca;
    border-radius: 50%;
    outline: none;
    transition: border-color 0.1s ease-in-out;
    margin: 0%;
  }
  input[type="radio"]:checked {
    border-color: #000000;
    background-color: rgba(251, 205, 50); /* Add background color */
    box-shadow: 0 0 0 4px rgba(228, 225, 85, 0.2);
  }
  
  input[type="radio"]::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #007bff;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
  }
  
  /* input[type="radio"]:checked::before {
    transform: scale(0);
  } */
  
  button {
    display: inline-block;
    padding: 20px 30px;
    margin-top: 3rem;
    background-color: rgba(251, 205, 50);
    opacity: 0.6;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 16px;
    margin-bottom:3rem;
  }
  
  /* Button Hover Effect */
  button:hover {
    opacity: 1;
  }
  
  /* Button Active Effect (when clicked) */
  button:active {
    background-color: rgba(251, 205, 50);
  }
  
  .App {
    text-align: center;
    margin-left: 0rem;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  
  /* Add this CSS for basic table styling */
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #211F1F;
  }
  
  table {
    border-collapse: collapse;
    width: 50rem; /* Adjust the width as needed */
    margin-bottom: 20px;
    text-align: center; 
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  
  
  
  table, th, td {
    border: 1px solid black;
  }
  
  
  th, td {
    padding: 8px;
    text-align: center; /* Center-align the text within cells */
    /* border: 1px solid black; */
  }
  th {
    background-color: #f2f2f2;
  }
  
  
  
  
  
  
  