
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  .heading1{
    text-align: center;
    font-size: 3rem;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    font: 1.1rem sans-serif;
    width: 35rem;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    border: 1px solid #b4b3b3;
    border-radius: 0.35rem;
    /* transition: border-color 0.5s ease; */
  }

  /* input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus {
    border: 2px solid rgb(0, 0, 0);
  } */
  .input{
    text-align: center;
  }
  input::placeholder {
    font: 1.15rem sans-serif;
    color: rgb(174, 174, 174);
}
  button[type="submit"] {
    font-size: 1.7rem;
    width: 8rem;
    height: 3.5rem;
    padding-bottom: 3rem;
    margin-top: 0.5rem;
    background-color:rgba(251, 205, 50);
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0.4;
}

/* button[type="submit"]:hover {
    opacity: 1;
} */
@media (max-width: 768px) {
  /* Adjust styles for tablets and larger screens */
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 20rem; /* Restore the original width on larger screens */
  }
  .heading1{
    font-size: 2rem;
  }
  button[type="submit"] {
    width: 8rem; /* Restore the original width on larger screens */
  }
}